* {
    margin: 0;
    padding: 0;
}

/*Шрифты*/
@font-face {
    font-family: lato-regular;
    /* Гарнитура шрифта */
    src: url("../fonts/lato/lato-regular.ttf");
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: lato-light;
    src: url("../fonts/lato/lato-light.ttf");
}

@font-face {
    font-family: lato-bold;
    src: url("../fonts/lato/lato-bold.ttf");
}

@font-face {
    font-family: sourcesanspro-regular;
    src: url("../fonts/sourcesanspro/sourcesanspro-regular.otf");
}

@font-face {
    font-family: sourcesanspro-bold;
    src: url("../fonts/sourcesanspro/sourcesanspro-bold.otf");
}

@font-face {
    font-family: sourcesanspro-light;
    src: url("../fonts/sourcesanspro/sourcesanspro-light.ttf");
}

@font-face {
    font-family: 14775;
    src: url("../fonts/lato/14775.otf");
}

html {
    overflow-x: hidden;
    /*убирает горизонтальную полосу прокрутки*/
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.visually-hidden {
    display: none;
}

.container {
    margin: 0px auto;
    width: 1440px
}

/* Блок Header */
header {
    width: 100%;
    height: 1140px;
    position: relative;
}

.slider {
    background: url("../img/header-bg.png") #c0c0c0 bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;
    z-index: -10;
    background-attachment: fixed;
}

.slider-content {
    z-index: 10;
    width: 100%;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
}

/*Логотип, буква в ромбе, название сайта в общем блоке logo*/
.logo {
    height: 706px;
    width: 437px;
    margin: 0 auto;
    padding-top: 221px;
    position: relative;
}

.frame img {
    display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
}

.frame img:hover {
    color: #ada074;
    filter: #ada074;
    transition: 0.7s ease-out;
}

.logo h1,
p {
    text-align: center;
}

.logo h1 {
    padding-top: 142px;
    font-family: "lato-regular", "Arial", sans-serif;
    font-size: 34px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 5.44px;
}

.logo h1:hover {
    color: rgb(173, 160, 116);
    transition: 0.7s ease-out;
}

.logo h1::after {
    content: "";
    display: block;
    align-self: flex-end;
    height: 2px;
    width: 105px;
    background-color: #fff;
    margin: 53px auto 0px auto;
    text-align: center;
}

.logo p {
    padding-top: 58px;
    font-family: "lato-light", "Arial", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #fff;
}

.logo a {
    text-align: center;
    display: block;
}

.btn-readmore {
    height: 47px;
    width: 182px;
    text-transform: uppercase;
    color: #fff;
    font-family: "lato-regular", "Arial", sans-serif;
    font-size: 16px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.slider-content .btn-readmore {
    margin-top: 162px;
}

.btn-readmore:hover {
    background: #ada074;
    color: #fff;
    border: 2px solid #ada074;
    transition: 0.7s ease-out;
}

button[type="button"]:active {
    color: #3c3c3c;
    background: #ada074;
}

.arrow-down {
    padding-top: 30px;
    display: inline;
    animation: move 1.5s ease-out 0.7s infinite;
    opacity: 0;
}

@keyframes move {
    25% {
        opacity: 1;
    }

    33% {
        opacity: 1;
        transform: translateY(40px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(40px);
    }
}

/****************************************************************************
**********************************НАВИГАЦИЯ**********************************
*****************************************************************************/
nav {
    height: 58px;
    width: 100%;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
}

nav ul {
    width: 388px;
    align-self: center;
    padding-left: 420px;
    padding-right: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    font-family: "14775", "Arial", sans-serif;
}

nav a {
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    font-family: "14775", "Arial", sans-serif;
    font-weight: bold;
    color: #3c3c3c;
}

nav a:hover {
    color: rgb(173, 160, 116);
    transition: 0.7s ease-out;
}

#onepage {
    padding-left: 510px;
    font-size: 26px;
    font-weight: bold;
    color: #3c3c3c;
    text-transform: none;
    text-decoration: none;
    font-family: "14775", sans-serif;
}

#onepage:hover {
    color: rgb(173, 160, 116);
    transition: 0.7s ease-out;
}

/******************************************************************************
******************************SECTION ABOUT US*********************************
*******************************************************************************/
#about {
    width: 100%;
    background: #fff;
    position: relative;
}

#about h2 {
    padding-top: 133px;
    text-align: center;
    text-transform: uppercase;
    font-family: "lato-bold", "Arial", sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: black;
    letter-spacing: 5.44px;
}

#about h2::after {
    content: "";
    display: block;
    align-self: flex-end;
    height: 1px;
    width: 81px;
    background-color: black;
    margin: 35px auto 0px auto;
    text-align: center;
}

#about p {
    padding-top: 38px;
    font-size: 14px;
    font-family: "lato-light", "Arial", sans-serif;
    color: rgb(164, 164, 164);
    line-height: 1.857;
}

#about .design {
    background-color: #fff;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
    position: relative;
    padding-top: 76px;
    margin: 0 auto;
}

#about .design_type {
    width: 286px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 140px;
}

.border-img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 2px solid rgb(240, 240, 240);
    text-align: center;
    margin: auto;
    position: relative;
}

.border-img:hover {
    border: 2px solid #ada074;
    transition: 0.7s ease-out;
}

/*если иконки  responsive, minimalist, free вставлять как обычные img формата png*/
.design_type img {
    width: 58px;
    height: 53px;
    position: absolute;
    top: 20%;
    left: 20%;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
}

.desighn_type::before {
    content: "";
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid rgb(240, 240, 240);
    position: relative;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

*/ .design_type span {
    padding-top: 57px;
    font-family: "lato-regular", "Arial", sans-serif;
    font-size: 26px;
    letter-spacing: 4.16px;
}

.design_type span>a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.design_type p {
    font-family: "lato-light", "Arial", sans-serif;
    font-size: 14px;
    color: rgb(164, 164, 164);
    padding-top: 36px;
    line-height: 1.857;
}

/**************************************************************************
*****************************SECTION PORTFOLIO*****************************
***************************************************************************/
#portfolio {
    width: 100%;
    height: 1636px;
    background-color: #f3f3f3;
    position: relative;
}

#portfolio h2 {
    padding-top: 188px;
    text-align: center;
    text-transform: uppercase;
    font-family: "lato-bold", "Arial", sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: black;
    letter-spacing: 5.44px;
}

#portfolio h2::after {
    content: "";
    display: block;
    align-self: flex-end;
    height: 1px;
    width: 81px;
    background-color: black;
    margin: 40px auto 0px auto;
    text-align: center;
}

.grid {
    margin: 0 auto;
    margin-top: 76px;
    width: 900px;
    position: relative;
    display: grid;
    grid-template-rows: 200px 200px 100px 100px 100px 100px 100px;
    grid-template-columns: repeat(2, 1fr) 285px;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
}

.project {
    display: flex;
    position: relative;
}

.project:hover {
    width: 285px;
    background: rgba(173, 160, 116, 0.7);
    transition: 0.7s ease-out;
}

.project-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    color: white;
}

.project-text .project-name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.project-text .project-description {
    font-size: 12px;
    margin-top: 20px;
}

.project:hover .project-text {
    display: block;
}

.project:hover img {
    opacity: 0;
    transition: 0.7s ease-out;
}

.project:hover .transparent-img {
    opacity: 30%;
    transition: 0.7s ease-out;
}

.grid img {
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#portfolio .btn-readmore {
    height: 47px;
    width: 182px;
    text-transform: uppercase;
    color: black;
    font-family: "lato-regular", "Arial", sans-serif;
    font-size: 16px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    margin-top: 165px;
}

#portfolio .btn-readmore:hover {
    background: #ada074;
    color: #fff;
    border: 2px solid #ada074;
    transition: 0.7s ease-out;
}

#portfolio a {
    text-align: center;
    display: block;
}

.project-4 {
    grid-row: 2 / 4;
}

.project-6 {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}

.project-7 {
    grid-row: 3 / 5;
}

.project-8 {
    grid-row: 4 / 6;
}

.project-9 {
    grid-row: 6 / 8;
}

.project-10 {
    grid-row: 4 / 6;
}

.project-11 {
    grid-row: 5 / 8;
}

/*****************************************************************************
*********************************SECTION PARTNERS*****************************
******************************************************************************/
.partners-background {
    background: rgba(0, 0, 0, 0.72) url("../img/partners-bg.jpg") 0px 0px no-repeat;
    background-size: cover;
    position: relative;
    z-index: -100;
    width: 100%;
    height: 100%;
    opacity: 72%;
    background-attachment: fixed;
}

.partners {
    width: 100%;
    height: 400px;
    position: relative;
}

.partners h2 {
    font-family: "lato-light", "Arial", sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    padding-top: 100px;
    margin: 0;
    letter-spacing: 1.8px;
    z-index: 200;
}

.partners .wrapper_logo {
    display: flex;
    justify-content: space-between;
    width: 585px;
    align-content: flex-end;
    position: absolute;
    top: 222px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}

/********************************************************************
******************************FOOTER CONTACT*************************
*********************************************************************/
#contact {
    width: 100%;
    height: 828px;
    background-color: #fff;
    position: relative;
}

#contact h2 {
    padding-top: 185px;
    text-align: center;
    text-transform: uppercase;
    font-family: "lato-bold", "Arial", sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: black;
    letter-spacing: 5.44px;
}

#contact h2::after {
    content: "";
    display: block;
    align-self: flex-end;
    height: 1px;
    width: 81px;
    background-color: black;
    margin: 47px auto 0px auto;
    text-align: center;
}

.wrapper_contact {
    width: 750px;
    padding-top: 120px;
    margin: 0 auto;
}

#contact label,
.message {
    display: block;
    text-align: left;
    font-family: "lato-regular", "Arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 20px;
    letter-spacing: 0.84px;
}

form {
    width: 382px;
    height: 345px;
    float: left;
}

.name .mail {
    width: 160px;
    height: 66px;
}

input[type="text"],
input[type="email"] {
    width: 160px;
    height: 35px;
    background: #f8f7f7;
    border: 1px solid transparent;
    border-top: 1px solid black;
    cursor: text;
    outline: none;
}


.form-input:active,
.form-input:focus {
    border: 1px solid black;
}

.form-button {
    cursor: pointer;
    text-transform: uppercase;
    color: black;
    border: none;
    background: #fff;
    font-family: "lato-regular", "Arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    float: right;
    margin-top: 23px;
    outline: none;
}

.mail {
    float: right;
    padding-bottom: 76px;
}

.name {
    float: left;
    padding-bottom: 76px;
}

.message {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}

textarea {
    width: 382px;
    height: 118px;
    background: #f8f7f7;
    border: 1px solid transparent;
    border-top: 1px solid black;
    resize: none;
    outline: none;
}

.txt_contact,
.icons {
    display: block;
    float: right;
    width: 298px;
}

.txt_contact p {
    font-family: "lato-regular", "Arial", sans-serif;
    font-size: 14px;
    color: black;
    text-align: left;
    letter-spacing: 0.014px;
    padding-bottom: 38px;
    line-height: 1.857;
}

.Tomazs,
.e-mail {
    font-weight: bolder;
}

.icons svg {
    width: 15px;
    height: 15px;
    padding-right: 16px;
}

.icons svg:hover {
    transition: 0.7s ease-out;
    fill: #ada074;
}

/**********************************************************************
*****************************FOOTER COPYRIGHT**************************
***********************************************************************/
.copyright {
    width: 100%;
    height: 270px;
    background: #3c3c3c;
    position: relative;
}

.footer_menu ul {
    width: 438px;
    justify-content: space-between;
    display: flex;
    margin: 43px auto 0;
}

.footer_menu ul a {
    display: inline;
    font-family: "sourcesanspro-regular", "Arial", sans-serif;
    font-size: 14px;
    color: rgb(164, 164, 164);
    padding-top: 43px;
}

.footer_menu ul li {
    list-style: none;
}

.footer_menu a {
    text-decoration: none;
}

.footer_menu span {
    text-transform: none;
}

.footer_menu p {
    text-transform: capitalize;
    font-family: "sourcesanspro-light", "Arial", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: rgb(164, 164, 164);
    padding-top: 37px;
}

.bootom_logo {
    position: absolute;
    top: 49px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom_logo img {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    left: 50%;
}